[submodule "External/Walnut"]
	path = External/Walnut
	url = https://github.com/damnkk/Walnut.git
[submodule "External/assimp"]
	path = External/assimp
	url = https://github.com/assimp/assimp.git
[submodule "External/shaderc"]
	path = External/shaderc
	url = https://github.com/google/shaderc.git
[submodule "External/nvpro_core2"]
	path = External/nvpro_core2
	url = https://github.com/nvpro-samples/nvpro_core2.git
[submodule "External/spv_reflect"]
	path = External/spv_reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
